* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #33404d;
}

.title {
    padding: 10px;
    color: aqua;
}

.header {

    display: flex;
    justify-content: space-between;
}

.options-bar {
    width: 220px;

}

.options {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.btn-info {
    color: aqua;
}

.parent {


}

.painting-container {
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    background-color: slateblue;
    padding-bottom: 30px;

}

.painting-container-title {
    color: blue;
    padding: 20px;
}

.form-container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: aqua;
    margin: 0 auto;

}

.dateinput {
    padding: 6px;
    border-radius: 4px;
    border: white 2px;
}

.spacer {
    margin-top: 10px;
}

.subcontainer-1 {
    width: 500px;
    margin: 0 auto;
}

.flashmsg {
    width: 400px;
    margin: 0 auto;
}

.answer {
    margin-left: 20px;
    width: 250px;
    color: darkturquoise;
    position: relative;
}

.pby {
    display: flex;
}

.answer-two {
    margin-left: 5px;
    color: darkturquoise;
}